body {
    font-family: "Roboto", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #721515;
    background-image: url('../img//landing-page/d2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1, p {
    text-align: center;
    color: #a52a2a;
}

label {
    margin: 10px 0 5px;
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="tel"], textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button {
    background-color: #a52a2a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8b0000;
}

@media (max-width: 600px) {
    .container {
        width: 150%;
        padding: 12px;
        margin-left: -72px;
        padding-left: 19px;
        padding-right: 24px;
    }
    h1 {
        font-size: 18px;
    }
}
